body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#cfd8dc;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.result-box{
  background:#e8e8e8;
  width:350px;
  padding:30px;
  border-radius:12px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  text-align:center;
}

.bmi-value{
  font-size:18px;
  margin:10px 0;
}

.status-text{
  font-size:18px;
  font-weight:bold;
  margin-bottom:15px;
}

.result-image{
  width:200px;
  height:auto;
  margin:10px 0 20px;
}

button{
  width:100%;
  padding:10px;
  background:green;
  color:white;
  border:none;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:darkgreen;
}